<div class="blog-container d-flex flex-wrap p-2">
  <div class="card m-3 " style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/articles/Endocrinologia.jpg" alt="Vitamina D">
    <div class="card-body">
      <h5 class="card-title">Ce este Endocrinologia?</h5>
      <p class="card-text">O ramură a medicinei care se ocupă de studiul glandelor endocrine</p>
    </div>
  </div>

  <div class="card m-3" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/articles/VitaminaD.jpg" alt="Vitamina D">
    <div class="card-body">
      <h5 class="card-title">Ce este Vitamina D?</h5>
      <p class="card-text">O vitamină liposolubilă, la fel ca și vitaminele A, E și K</p>
    </div>
  </div>
</div>
