.social-icons {
  justify-content: center;

  .social-icon {
    color: #fffacd;
  }
}

@media (min-width: 1199.98px) {
  .social-icons {
    justify-content: start !important;
  }
}

@media (min-width: 1810px) {
  .summary-description {
    font-size: 20px;
  }

  h2 {
    font-size: 32px;
  }

  .social-icons {
    justify-content: start !important;
  }
}

@media (min-width: 1199.98px) and (max-width: 1809.98px) { 
  .summary-description {
    font-size: 16px;
  }

  h2 {
    font-size: 21px;
  }

  .landing-image-container {
    max-width: 50%;
  }

  .landing-text-container {
    max-width: 50%;
  }

  .social-icons {
    justify-content: start !important;
  }

}

@media (max-width: 360px) {
  .summary-description {
    font-size: 12px;
  }

  h2 {
    font-size: 18px;
  }

  .social-icons {
    justify-content: start !important;
  }
}