<nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
  <div class="navbar-nav">
    <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
      class="nav-item nav-link mx-2" [routerLink]="['/home']">Home</a>

    <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
      class="nav-item nav-link mx-2" [routerLink]="['/blog']">Blog</a>

    <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
      class="nav-item nav-link mx-2 disabled" [routerLink]="['/calculator']">Calculator</a>

    <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
      class="nav-item nav-link mx-2 disabled" [routerLink]="['/contact']">Contact</a>
  </div>
</nav>